body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #392384;

}

header {
    text-align: center;
}

nav {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
div{
    background-color: blueviolet;
}
.accc, .ex, .me {

    float:left;
    width:30%;
    margin-right:5%;
}
.me{
    margin-right: 0%;
}
h2{
    text-align: center;
}
img {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}
.pic{
    height: 300px;
}
.sec{
    background-color: #E79292;
    margin-top: 30px;
}
.div1{
    background-color: #211339;
    padding: 20px;
}
.alt{
    color: red;
}
.col{
    color: pink;
}
h1{
    color: cadetblue;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
p{
    text-align: center;
}
form{
    text-align: center;
}
.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -190px;
}

